@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Gestor de empleados</h1>
    <h3 class="display-4">Joel García</h3>
    <img src="https://www.flaticon.es/svg/static/icons/svg/610/610367.svg" alt="Icono gestión empleados" width="500" height="500">
</div>
